kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: portworx-proxy-volume-tv
provisioner: kubernetes.io/portworx-volume
parameters:
  proxy_endpoint: "nfs://10.0.1.8"
  proxy_nfs_exportpath: "/volume1/TV"
  mount_options: "vers=3.0"
allowVolumeExpansion: true
---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: portworx-proxy-volume-music
provisioner: kubernetes.io/portworx-volume
parameters:
  proxy_endpoint: "nfs://10.0.1.8"
  proxy_nfs_exportpath: "/volume1/Music"
  mount_options: "vers=3.0"
allowVolumeExpansion: true
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  namespace: plexstack
  name: tv-data
  labels:
    app: plex
spec:
  storageClassName: portworx-proxy-volume-tv
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 30T
---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: portworx-proxy-volume-movies
provisioner: kubernetes.io/portworx-volume
parameters:
  proxy_endpoint: "nfs://10.0.1.8"
  proxy_nfs_exportpath: "/volume1/Movies"
  mount_options: "vers=3.0"
allowVolumeExpansion: true
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  namespace: plexstack
  name: movies-data
  labels:
    app: plex
spec:
  storageClassName: portworx-proxy-volume-movies
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 30T
---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: portworx-proxy-volume-downloads
provisioner: kubernetes.io/portworx-volume
parameters:
  proxy_endpoint: "nfs://10.0.1.8"
  proxy_nfs_exportpath: "/volume1/uberplex/downloads"
  mount_options: "vers=3.0"
allowVolumeExpansion: true
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  namespace: plexstack
  name: downloads-data
  labels:
    app: plex
spec:
  storageClassName: portworx-proxy-volume-downloads
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 3T
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  namespace: plexstack
  name: music-data
  labels:
    app: plex
spec:
  storageClassName: portworx-proxy-volume-music
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 3T
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  namespace: plexstack
  name: archive-data
  labels:
    app: plex
spec:
  storageClassName: portworx-proxy-volume-archive
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 3T
---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: portworx-proxy-volume-archive
provisioner: kubernetes.io/portworx-volume
parameters:
  proxy_endpoint: "nfs://10.0.1.8"
  proxy_nfs_exportpath: "/volume1/Archive"
  mount_options: "vers=3.0"
allowVolumeExpansion: true
---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: portworx-proxy-volume-plexnorepl
provisioner: kubernetes.io/portworx-volume
parameters:
  proxy_endpoint: "nfs://10.0.1.8"
  proxy_nfs_exportpath: "/volume1/Plex-norepl"
  mount_options: "vers=3.0"
allowVolumeExpansion: true
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  namespace: plexstack
  name: plex-data
  labels:
    app: plex
spec:
  storageClassName: portworx-proxy-volume-plexnorepl
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 30T
---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: portworx-proxy-volume-plexnorepl
provisioner: kubernetes.io/portworx-volume
parameters:
  proxy_endpoint: "nfs://10.0.1.8"
  proxy_nfs_exportpath: "/volume1/Plex-norepl"
  mount_options: "vers=3.0"
allowVolumeExpansion: true
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  namespace: plexstack
  name: plexnorepl-data
  labels:
    app: plex
spec:
  storageClassName: portworx-proxy-volume-plexnorepl
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 3T
---