apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    stork.libopenstorage.org/migrated: "true"
    stork.libopenstorage.org/migrationName: migrationschedule-interval-2023-03-13-121957
    stork.libopenstorage.org/migrationReplicas: "1"
    stork.libopenstorage.org/migrationTime: 2023-03-13-122533
    stork.libopenstorage.org/resource-hash: "1256171433473010000"
  labels:
    app: dst-server
    stork.libopenstorage.org/migrated: "true"
  name: dst-server
  namespace: dst
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: dst-server
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: dst-server
    spec:
      containers:
      - env:
        - name: DST_CLUSTER_TOKEN
        image: jamesits/dst-server:latest
        imagePullPolicy: IfNotPresent
        name: dst-server
        ports:
        - containerPort: 10999
          protocol: UDP
        - containerPort: 11000
          protocol: UDP
        - containerPort: 12346
          protocol: UDP
        - containerPort: 12347
          protocol: UDP
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /data
          name: dst-server-claim0
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: stork
      terminationGracePeriodSeconds: 30
      volumes:
      - name: dst-server-claim0
        persistentVolumeClaim:
          claimName: dst-server-claim0
